<template>
    <v-container fluid style="height: 100%; width: 100%;">
        <v-row align="center" align-content="center" justify="center">
            <v-col cols="12" class="text-center text-h2 title-font">
                OBLIVION CALCULATOR
            </v-col>

            <v-col cols="6">
                <v-card :loading="oblivionLoader" :disabled="oblivionLoader">
                    <v-card-title>
                        <v-row>
                            <v-col cols="10">
                                Haggle Slider calculator
                            </v-col>
                            <v-col cols="2">
                                <v-btn color="primary" @click="clearForm">clear</v-btn>
                            </v-col>
                        </v-row>
                    </v-card-title>
                    <v-card-text>
                        <v-form ref="mercantileForm">
                            <v-row>
                                <v-col cols="12">
                                    <v-text-field v-model="mercantileSkill"
                                        label="Your Mercantile Skill"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="luckStat" label="Your Luck Stat"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="merchantDisposition"
                                        label="Merchant Disposition"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-combobox :items="merchantList" item-value="merchantSkill"
                                        item-title="merchantName" v-model="merchantSkill"
                                        label="Select Merchant"></v-combobox>
                                </v-col>
                                <v-col cols="12">
                                    <v-btn block color="primary" @click="calculateDispotion">
                                        Calculate best slider position
                                    </v-btn>
                                </v-col>
                                <v-expand-transition> <v-col cols="12" class="text-center text-h5"
                                        v-if="bestDisposition > 0">




                                        Best position: {{ Math.ceil((bestDisposition / 40) * 100) }}%
                                        <v-slider class="pt-8" readonly color="amber-accent-3" min="0" max="40"
                                            v-model="bestDisposition"></v-slider>
                                    </v-col></v-expand-transition>
                            </v-row>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script setup lang="ts">
import wtf from 'wtf_wikipedia';

let mercantileForm = ref(null);
let mercantileSkill = ref(0);
let merchantDisposition = ref(0);
let merchantSkill = ref();
let luckStat = ref(0);

let bestDisposition = ref(0)

function calculateDispotion() {
    let mSkill = merchantSkill.value.merchantSkill;
    bestDisposition.value = ((0.5 * Math.floor(0.4 * (Number(merchantDisposition.value) - 10) / 4) + (100 + Math.min(Number(mercantileSkill.value) + 0.4 * (Number(luckStat.value) - 50), 100) - Math.min(Number(mSkill) + 0.4 * (50 - 50), 100)) / 10) / 0.55)
}

let merchantList = ref([]);

let oblivionLoader = ref(false);

async function initWiki() {
    oblivionLoader.value = true;
    let text = `==Merchants==
===[[OB:Anvil|Anvil]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|-
|[[OB:Dahlia Rackham|Dahlia Rackham]]
|Upgrades
|{{merc|56|n}}
|{{Wealth|100}}
|''Clarabella'' in Anvil Harbor<br>(''[[OB:Thieves Den|Thieves Den]]'' [[OB:Downloads|official download]] required)
|[[OB:Dunbarrow Cove (place)#Upgrades|Dunbarrow Cove upgrades]]
|{{Service Icon|Upgrades}}
|-
|[[OB:Enilroth|Enilroth]]
|Nothing
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:Morvayn's Peacemakers|Morvayn's Peacemakers]]
|Nothing (barter never possible)
||{{Service Icon|Repair}}
|-
|[[OB:Felen Relas|Felen Relas]]
|Magical Supplies
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:Anvil Mages Guild|Anvil Mages Guild]]
|none
|{{Service Icon|Trainer|Alchemy|Basic}}
|-
|[[OB:Maenlorn|Maenlorn]]
|Food
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:The Flowing Bowl|The Flowing Bowl]]
|[[OB:Fists of the Drunkard|Fists of the Drunkard]]
|
|-
|[[OB:Norbert Lelles|Norbert Lelles]]
|General Goods
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Lelles' Quality Merchandise|Lelles' Quality Merchandise]]
|[[OB:Apron of the Master Artisan|Apron of the Master Artisan]]
|
|-
|[[OB:Orrin|Orrin]]
|[[OB:Thieves Guild#Fences|Fence]]
|{{merc|90|n}}
|{{Wealth|1200}}
|Anvil Castle Smithy
|none
|{{Service Icon|Fence}}
|-
|[[OB:Varel Morvayn|Varel Morvayn]]
|Smith
|{{merc|40|n}}
|{{Wealth|1200}}
|[[OB:Morvayn's Peacemakers|Morvayn's Peacemakers]]
|[[OB:Truncheon of Submission|Truncheon of Submission]]
|{{Service Icon|Repair}}
|-
|[[OB:Wilbur|Wilbur]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:The Count's Arms|The Count's Arms]]
|none
|{{Service Icon|Innkeeper}}
|}

===[[OB:Bravil|Bravil]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|-
|[[OB:Ardaline|Ardaline]]
|Magical Supplies
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Bravil Mages Guild|Bravil Mages Guild]]
|none
|{{Service Icon|Trainer|Alchemy|Advanced}}
|-
|[[OB:Bogrum gro-Galash|Bogrum gro-Galash]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:The Lonely Suitor Lodge|The Lonely Suitor Lodge]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Daenlin|Daenlin]]
|Smith
|{{merc|40|n}}
|{{Wealth|1000}}
|[[OB:The Archer's Paradox|The Archer's Paradox]]
|[[OB:Bow of Infliction|Bow of Infliction]]
|{{Service Icon|Repair}}
|-
|[[OB:Gilgondorin|Gilgondorin]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:Silverhome on the Water|Silverhome on the Water]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Luciana Galena|Luciana Galena]]
|[[OB:Thieves Guild#Fences|Fence]]
|{{merc|80|n}}
|{{Wealth|1000}}
|[[OB:The Lonely Suitor Lodge|The Lonely Suitor Lodge]]
|none
| style=white-space:nowrap|{{Service Icon|Fence}} {{Service Icon|Trainer|Light Armor|Advanced}}
|-
|[[OB:Nilawen|Nilawen]]
|General Goods
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:The Fair Deal|The Fair Deal]]
|[[OB:Robe of Creativity|Robe of Creativity]]
|{{Service Icon|Upgrades}}
|-
|[[OB:Nordinor|Nordinor]]
|Skooma
|{{merc|30|n}}
|{{Wealth|400}}
|Alley next to Fair Deal (only after midnight)
|none
|
|-
|[[OB:Tadrose Helas|Tadrose Helas]]
|Smith
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:Bravil Fighters Guild|Bravil Fighters Guild]]
|none
|{{Service Icon|Repair}} {{Service Icon|Trainer|Armorer|Basic}}
|-
|[[OB:Ungarion|Ungarion]]
|Spells, General Goods,<br>Magical Supplies
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:A Warlock's Luck|A Warlock's Luck]]<br>''(Cannot invest in this store)*''
|[[OB:Ring of Transmutation|Ring of Transmutation]]
|{{Service Icon|Spells}}
|}
<nowiki>*</nowiki>{{Bug|You cannot invest in A Warlock's Luck|UOP|nobullet=1}}

===[[OB:Bruma|Bruma]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|-
|[[OB:Fjotreid|Fjotreid]]
|Smith
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Hammer and Axe|Hammer and Axe]]
|[[OB:Gauntlets of Gluttony|Gauntlets of Gluttony]]
|{{Service Icon|Repair}}
|-
|[[OB:Hafid Hollowleg|Hafid Hollowleg]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:Jerall View Inn|Jerall View Inn]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Karinnarre|Karinnarre]]
|General Goods
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Novaroma|Novaroma]]
|none
|
|-
|[[OB:Olav|Olav]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:Olav's Tap and Tack|Olav's Tap and Tack]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Olfand|Olfand]]
|Smith
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Nord Winds|Nord Winds]]
|[[OB:Dondoran's Juggernaut|Dondoran's Juggernaut]]
|{{Service Icon|Repair}}
|-
|[[OB:Ongar the World-Weary|Ongar the World-Weary]]
|[[OB:Thieves Guild#Fences|Fence]]
|{{merc|60|n}}
|{{Wealth|600}}
|Ongar's Shack/[[OB:Olav's Tap and Tack|Olav's Tap and Tack]]
|none
|{{Service Icon|Fence}}
|-
|[[OB:Selena Orania|Selena Orania]]
|Spells, Magical Supplies
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Bruma Mages Guild|Bruma Mages Guild]]
|none
|{{Service Icon|Spells}}
|-
|[[OB:Skjorta|Skjorta]]
|Clothes
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Nord Winds|Nord Winds]]
|[[OB:Councilor's Hood|Councilor's Hood]]**
|
|-
|[[OB:Suurootan|Suurootan]]
|General Goods
|{{merc|36|n}}
|{{Wealth|600}}
|[[OB:Novaroma|Novaroma]]
|[[OB:Monkeypants|Monkeypants]]
|{{Service Icon|Upgrades}}
|}
<nowiki>**</nowiki>{{Bug|Due to a glitch, this item is not available in-game.|UOP|nobullet=1}}

===[[OB:Cheydinhal|Cheydinhal]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|- 
|[[OB:Borba gra-Uzgash|Borba gra-Uzgash]]
|General Goods
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Borba's Goods and Stores|Borba's Goods and Stores]]
|[[OB:Cowl of the Druid|Cowl of the Druid]]
|{{Service Icon|Upgrades}}
|-
|[[OB:Dark Brotherhood Murderer#Mage|Dark Brotherhood Murderer Mage]]
|General Goods
|{{merc|5|n}}
|{{Wealth|300}}
|[[OB:Dark Brotherhood Sanctuary|Dark Brotherhood Sanctuary]]<br>(Only accessible to [[OB:Dark Brotherhood|DB]] members,<br>''Cannot invest in this store'')
|none
|{{Service Icon|Spells}} {{Service Icon|Fence}}
|-
|[[OB:Dervera Romalen|Dervera Romalen]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:Newlands Lodge|Newlands Lodge]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Eilonwy|Eilonwy]]
|Magical Supplies
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Cheydinhal Mages Guild|Cheydinhal Mages Guild]]
|none
|
|-
|[[OB:M'raaj-Dar|M'raaj-Dar]]
|General Goods
|{{merc|6|n}}
|{{Wealth|400}}
|[[OB:Dark Brotherhood Sanctuary|Dark Brotherhood Sanctuary]]<br>(Only accessible to [[OB:Dark Brotherhood|DB]] members,<br>''Cannot invest in this store'')
|[[OB:Eye of Sithis|Eye of Sithis]], [[OB:Hands of Midnight|Hands of Midnight]], [[OB:Bow of Infernal Frost|Bow of Infernal Frost]], [[OB:Perdition's Wrath|Perdition's Wrath]], [[OB:Poisoned Apple|Poisoned Apples]]
|{{Service Icon|Spells}}
|-
|[[OB:Mach-Na|Mach-Na]]
|Books
|{{merc|80|n}}
|{{Wealth|1200}}
|[[OB:Mach-Na's Books|Mach-Na's Books]]
|[[OB:Chronicle of Sacrifice|Chronicle of Sacrifice]], ''[[OB:Advances in Lock Picking|Advances in Lock Picking]]'' [[OB:Skill Books|skill book]]
|{{Service Icon|Trainer|Mercantile|Basic}}
|-
|[[OB:Magra gro-Naybek|Magra gro-Naybek]]
|General Goods
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:Borba's Goods and Stores|Borba's Goods and Stores]]
|Nothing (barter never possible)
|
|-
|[[OB:Mariana Ancharia|Mariana Ancharia]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:Cheydinhal Bridge Inn|Cheydinhal Bridge Inn]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Tertia Viducia|Tertia Viducia]]
|Smith
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:The March Rider|The March Rider]]
|[[OB:Captain Kordan's Saber|Captain Kordan's Saber]]
|{{Service Icon|Repair}}
|}

===[[OB:Chorrol|Chorrol]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|- 
|[[OB:Angalmo|Angalmo]]
|Magical Supplies
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Chorrol Mages Guild|Chorrol Mages Guild]]
|none
|{{Service Icon|Trainer|Mysticism|Basic}}
|-
|[[OB:Emfrid|Emfrid]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:The Grey Mare|The Grey Mare]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Estelle Renoit|Estelle Renoit]]
|Books
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:Renoit's Books|Renoit's Books]]
|[[OB:Stormrider Scroll|Stormrider Scroll]], ''[[OB:Vernaccus and Bourlor|Vernaccus and Bourlor]]'' [[OB:Skill Books|skill book]]
|
|-
|[[OB:Rasheda|Rasheda]]
|Smith
|{{merc|80|n}}
|{{Wealth|1200}}
|[[OB:Fire and Steel|Fire and Steel]]
|[[OB:Rasheda's Special|Rasheda's Special]]
| style=white-space:nowrap |{{Service Icon|Repair}} {{Service Icon|Trainer|Armorer|Advanced}}
|-
|[[OB:Sabine Laul|Sabine Laul]]
|Smith
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:Chorrol Fighters Guild|Chorrol Fighters Guild]]
|
|{{Service Icon|Repair}}
|-
|[[OB:Seed-Neeus|Seed-Neeus]]
|General Goods
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Northern Goods and Trade|Northern Goods and Trade]]
|[[OB:Boots of the Swift Merchant|Boots of the Swift Merchant]]
|{{Service Icon|Trainer|Mercantile|Advanced}} {{Service Icon|Upgrades}}
|-
|[[OB:Talasma|Talasma]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:The Oak and Crosier|The Oak and Crosier]]
|none
|{{Service Icon|Innkeeper}}
|}

===[[OB:Imperial City|Imperial City]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|-
|[[OB:Augusta Calidia|Augusta Calidia]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:The Tiber Septim Hotel|The Tiber Septim Hotel]], [[OB:Talos Plaza District|Talos Plaza District]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Aurelinwae|Aurelinwae]]
|Magical Supplies
|{{merc|6|n}}
|{{Wealth|2000}}
|[[OB:Mystic Emporium|Mystic Emporium]]<br>(''[[OB:Wizard's Tower|Wizard's Tower]]'' [[OB:Downloads|official download]] required)<br>''(Cannot invest in this store)''
|[[OB:Frostcrag Spire (place)|Frostcrag Spire]] upgrades
| style=white-space:nowrap |{{Service Icon|Spells}} {{Service Icon|Recharge}} {{Service Icon|Upgrades}}
|-
|[[OB:Calindil|Calindil]]
|Spells, Magical Supplies
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Mystic Emporium|Mystic Emporium]]<br>''(Cannot invest in this store)''
|[[OB:Hands of the Atronach|Hands of the Atronach]]
|{{Service Icon|Spells}}
|-
|[[OB:Claudette Perrick|Claudette Perrick]]
|Alchemy
|{{merc|80|n}}
|{{Wealth|1200}}
|[[OB:The Gilded Carafe|The Gilded Carafe]]
|[[OB:Birthright of Astalon|Birthright of Astalon]], Strong Potion of Reflection
|
|-
|[[OB:Delos Fandas|Delos Fandas]]
|Food
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:The Feed Bag|The Feed Bag]]
|none
|
|-
|[[OB:Edgar Vautrine|Edgar Vautrine]]
|Spells
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Edgar's Discount Spells|Edgar's Discount Spells]]<br>''(Cannot invest in this store)''
|[[OB:Veil of the Seer|Veil of the Seer]]***
|{{Service Icon|Spells}}
|-
|[[OB:Ernest Manis|Ernest Manis]]
|Food
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:The Foaming Flask|The Foaming Flask]], [[OB:Talos Plaza District|Talos Plaza District]]<br>''(Cannot invest in this store)''
|none
|
|-
|[[OB:Fathis Ules|Fathis Ules]]
|[[OB:Thieves Guild#Fences|Fence]]
|{{merc|100|n}}
|{{Wealth|1500}}
|[[OB:Elven Gardens District|Elven Gardens District]]
|none
|{{Service Icon|Fence}}
|-
|[[OB:Hamlof Red-Tooth|Hamlof Red-Tooth]]
|Jewelry
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Red Diamond Jewelry|Red Diamond Jewelry]]
|[[OB:Spectre Ring|Spectre Ring]]***
|
|-
|[[OB:Jensine|Jensine]]
|General Goods
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:Jensine's "Good as New" Merchandise|Jensine's "Good as New" Merchandise]]
|[[OB:Akaviri Warblade|Akaviri Warblade]]
|
|-
|[[OB:Julienne Fanis|Julienne Fanis]]
|Alchemy
|{{merc|80|n}}
|{{Wealth|15}}
|Lustratorium, Arcane University
|[[OB:Refined Frost Salts|Refined Frost Salts]]
|
|-
|[[OB:Ley Marillin|Ley Marillin]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:The King and Queen Tavern|The King and Queen Tavern]], [[OB:Elven Gardens District|Elven Gardens District]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Luther Broad|Luther Broad]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:Luther Broad's Boarding House|Luther Broad's Boarding House]], [[OB:Elven Gardens District|Elven Gardens District]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Maro Rufus|Maro Rufus]]
|Light Armor
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:The Best Defense|The Best Defense]]
|none
|{{Service Icon|Repair}}
|-
|[[OB:Nilphas Omellian|Nilphas Omellian]]
|General Goods
|{{merc|40|n}}
|{{Wealth|2000}}
|[[OB:The Merchants Inn|The Merchants Inn]]<br>(''[[OB:Fighter's Stronghold|Fighter's Stronghold]]'' [[OB:Downloads|official download]] required)<br>
|Battlehorn Castle upgrades
| style=white-space:nowrap |{{Service Icon|Upgrades}}
|-
|[[OB:Ogier Georick|Ogier Georick]]
|Alchemy
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:The Main Ingredient|The Main Ingredient]]
|[[OB:Mantle of the Woodsman|Mantle of the Woodsman]], [[OB:Cyrodilic Brandy|Cyrodilic Brandy]]
|
|-
|[[OB:Ormil|Ormil]]
|Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:The Bloated Float Inn|The Bloated Float Inn]] (&quot;houseboat&quot; at the [[OB:Waterfront District|Waterfront]])
|none - zero inventory (!)
|{{Service Icon|Innkeeper}}
|-
|[[OB:Palonirya|Palonirya]]
|Clothier
|{{merc|80|n}}
|{{Wealth|1200}}
|[[OB:Divine Elegance|Divine Elegance]]
|[[OB:Quicksilver Boots|Quicksilver Boots]]
|{{Service Icon|Trainer|Mercantile|Master}}
|-
|[[OB:Phintias|Phintias]]
|Books
|{{merc|80|n}}
|{{Wealth|1200}}
|[[OB:First Edition|First Edition]]
|[[OB:Document of Purile Banter|Document of Purile Banter]], ''[[OB:The Armorer's Challenge|The Armorer's Challenge]]'' and ''[[OB:The Refugees|The Refugees]]'' [[OB:Skill Books|skill books]]
|
|-
|[[OB:Rindir|Rindir]]
|Staves
|{{merc|30|n}}
|{{Wealth|600}}
|[[OB:Rindir's Staffs|Rindir's Staffs]]
|[[OB:Apotheosis|Apotheosis]]
|
|-
|[[OB:Rohssan|Rohssan]]
|Blade Weapons
|{{merc|80|n}}
|{{Wealth|1200}}
|[[OB:A Fighting Chance|A Fighting Chance]]
|[[OB:Battleaxe of Hatred|Battleaxe of Hatred]]
|{{Service Icon|Repair}} {{Service Icon|Trainer|Armorer|Advanced}}
|-
|[[OB:Sergius Verus|Sergius Verus]]
|General Goods
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Three Brothers Trade Goods|Three Brothers Trade Goods]]
|[[OB:Akaviri Sunderblade|Akaviri Sunderblade]]
|{{Service Icon|Upgrades}}
|-
|[[OB:Shady Sam|Shady Sam]]
|Poisons, Potions, Lockpicks
|{{merc|51|n}}
|{{Wealth|400}}
|Just outside city walls, c.100m N of Chesnut Handy Stables
|Lockpicks
|
|-
|[[OB:Tertullian Verus|Tertullian Verus]]
|General Goods
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Three Brothers Trade Goods|Three Brothers Trade Goods]]
|[[OB:Helm of the Deep Delver|Helm of the Deep Delver]]
|
|-
|[[OB:Thoronir|Thoronir]]
|General Goods
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:The Copious Coinpurse|The Copious Coinpurse]]
|[[OB:Imperial Breeches|Imperial Breeches]]
|
|-
|[[OB:Urbul gro-Orkulg|Urbul gro-Orkulg]]
|Blunt Weapons
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Slash 'N Smash|Slash 'N Smash]]
|none
|{{Service Icon|Repair}}
|-
|[[OB:Varnado|Varnado]]
|Heavy Armor
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:The Best Defense|The Best Defense]]
|[[OB:Aegis of the Apocalypse|Aegis of the Apocalypse]]
|{{Service Icon|Repair}} {{Service Icon|Trainer|Heavy Armor|Advanced}}
|-
|[[OB:Velus Hosidius|Velus Hosidius]]
|Food + Inn
|{{merc|60|n}}
|{{Wealth|50}}
|[[OB:The Merchants Inn|The Merchants Inn]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Viator Accius|Viator Accius]]
|Armor
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Stonewall Shields|Stonewall Shields]]
|[[OB:Tower of the Nine|Tower of the Nine]]
|{{Service Icon|Repair}}
|-
|[[OB:Willet|Willet]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:The All-Saints Inn|The All-Saints Inn]], [[OB:Temple District|Temple District]]
|none
|{{Service Icon|Innkeeper}}
|}
<nowiki>***</nowiki> {{Bug|Due to a glitch, this item is not available in-game.|UOP|nobullet=1}}

===[[OB:Kvatch|Kvatch]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|- 
|[[OB:Batul gra-Sharob|Batul gra-Sharob]]
|Smith
|{{merc|100|n}}
|{{Wealth|200}}
|outdoors
|none
|{{Service Icon|Repair}}
|-
|[[OB:Sigrid|Sigrid]]
|Alchemy
|{{merc|100|n}}
|{{Wealth|200}}
|outdoors
|none
|
|}

===[[OB:Leyawiin|Leyawiin]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|-
|[[OB:Alves Uvenim|Alves Uvenim]]
|Magical Supplies
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Leyawiin Mages Guild|Leyawiin Mages Guild]]
|none
|{{Service Icon|Spells}}{{Service Icon|Spells|Mysticism}}
|-
|[[OB:Bugak gro-Bol|Bugak gro-Bol]]
|Books
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Southern Books|Southern Books]]
|[[OB:Annal of the Fire Nexus|Annal of the Fire Nexus]]
|{{Service Icon|Trainer|Blunt|Basic}}
|-
|[[OB:Dar Jee|Dar Jee]]
|[[OB:Thieves Guild#Fences|Fence]]
|{{merc|70|n}}
|{{Wealth|800}}
|Home/[[OB:Five Claws Lodge|Five Claws Lodge]]/outdoors
|none
|{{Service Icon|Fence}}
|-
|[[OB:Elsynia|Elsynia]]
|General Goods
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Best Goods and Guarantees|Best Goods and Guarantees]]
|[[OB:Nistor's Boots|Nistor's Boots]]
|
|-
|[[OB:Gundalas|Gundalas]]
|General Goods
|{{merc|60|n}}
|{{Wealth|1000}}
|[[OB:Best Goods and Guarantees|Best Goods and Guarantees]]
|none
|{{Service Icon|Upgrades}}
|-
|[[OB:S'drassa|S'drassa]]<sup>†</sup>
|Nothing
|{{merc|6|n}}
|{{Wealth|10}}
|[[OB:Leyawiin Mages Guild|Leyawiin Mages Guild]]
|Nothing (barter never possible)
|{{Service Icon|Trainer|Alchemy|Basic}}
|-
|[[OB:Shuravi|Shuravi]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:Three Sisters' Inn|Three Sisters' Inn]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Tun-Zeeus|Tun-Zeeus]]
|Smith
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:The Dividing Line|The Dividing Line]]
|[[OB:Destarine's Cleaver|Destarine's Cleaver]]
|{{Service Icon|Repair}}
|- 
|[[OB:Witseidutsei|Witseidutsei]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:Five Claws Lodge|Five Claws Lodge]]
|none
|{{Service Icon|Innkeeper}}
|}
<sup>†</sup>If you have the Unofficial Oblivion Patch installed, S'drassa is no longer a merchant.

===[[OB:Skingrad|Skingrad]]===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|- 
|[[OB:Agnete the Pickled|Agnete the Pickled]]
|Smith
|{{merc|80|n}}
|{{Wealth|1200}}
|[[OB:Hammer and Tongs|Hammer and Tongs]]
|[[OB:Helm of Ferocity|Helm of Ferocity]]
|{{Service Icon|Repair}}
|-
|[[OB:Erina Jeranus|Erina Jeranus]]
|Food + Inn
|{{merc|40|n}}
|{{Wealth|50}}
|[[OB:West Weald Inn|West Weald Inn]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Falanu Hlaalu|Falanu Hlaalu]]
|Alchemy
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:All Things Alchemical|All Things Alchemical]]
|[[OB:Ring of Wortcraft|Ring of Wortcraft]]
|
|-
|[[OB:Gunder|Gunder]]
|General Goods
|{{merc|40|n}}
|{{Wealth|800}}
|[[OB:Colovian Traders|Colovian Traders]]
|[[OB:Vest of the Bard|Vest of the Bard]]
|{{Service Icon|Upgrades}}
|-
|[[OB:Mog gra-Mogakh|Mog gra-Mogakh]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
|[[OB:Two Sisters Lodge|Two Sisters Lodge]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Sinderion|Sinderion]]
|Alchemy
|{{merc|8|n}}
|{{Wealth|400}}
|[[OB:West Weald Inn|West Weald Inn]]
|[[OB:Elixir of Exploration|Elixirs of Exploration]]
|{{Service Icon|Trainer|Alchemy|Master}}
|}

===Other===
{| class=wikitable style=text-align:center width=100%
! width=12%| Merchant Name
! width=12% | Merchandise
! width=10% | [[OB:Mercantile|Mercantile]] Skill
! width=4% | [[OB:Commerce#Merchants' Gold|Gold]]
! width=20% | Building
! width=20% | Rare Items
! width=10% | Services
|- 
|[[OB:Abhuki|Abhuki]]
|Food + Inn
|{{merc|80|n}}
|{{Wealth|50}}
|[[OB:Faregyl Inn|Faregyl Inn]]
|none
| style=white-space:nowrap |{{Service Icon|Innkeeper}} {{Service Icon|Trainer|Alteration|Advanced}}
|-
|[[OB:Andreas Draconis|Andreas Draconis]]
|Food + Inn
|{{merc|50|n}}
|{{Wealth|50}}
||[[OB:The Drunken Dragon Inn|The Drunken Dragon Inn]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Candice Corgine|Candice Corgine]]
|Magical Supplies, Potions, Food
|{{merc|30|n}} (''leveled''*)
|{{Wealth|0}}
|[[OB:The Sleeping Mare|The Sleeping Mare]], [[OB:Pell's Gate|Pell's Gate]]
|none
|
|-
|[[OB:Christophe Marane|Christophe Marane]]
|Food + Inn
|{{merc|50|n}}
|{{Wealth|50}}
||[[OB:Brina Cross Inn|Brina Cross Inn]]
|none
|{{Service Icon|Innkeeper}} {{Service Icon|Trainer|Blunt|Advanced}}
|-
|[[OB:Davela Hlaren|Davela Hlaren]]
|Food + Inn
|{{merc|50|n}}
|{{Wealth|50}}
||[[OB:Imperial Bridge Inn|Imperial Bridge Inn]]
|none
|{{Service Icon|Innkeeper}} {{Service Icon|Trainer|Hand to Hand|Advanced}}
|-
|[[OB:Engorm|Engorm]]
|Nothing
|{{merc|25|n}} (''leveled''*)
|{{Wealth|5}}
|[[OB:Shrine of Sanguine|Sanguine's Shrine]]
|none
|
|- 
|[[OB:Etira Moslin|Etira Moslin]]
|General Goods
|{{merc|100|n}}
|{{Wealth|200}}
|[[OB:Moslin's Dry Goods|Moslin's Dry Goods]], [[OB:Hackdirt|Hackdirt]]
|very limited inventory, low disposition
|
|-
|[[OB:Foroch|Foroch]]
|Food + Inn
|{{merc|50|n}}
|{{Wealth|50}}
||[[OB:Gottshaw Inn|Gottshaw Inn]]
|none
|{{Service Icon|Innkeeper}} {{Service Icon|Trainer|Mercantile|Basic}}
|-
|[[OB:Jak Silver|Jak Silver]]
|Fence, Potion, Weapon, Armor, Lockpicks
|{{merc|5|n}}
|{{Wealth|100}}
|[[OB:Dunbarrow Cove (place)|Dunbarrow Cove]]<br>(''[[OB:Thieves Den|Thieves Den]]'' [[OB:Downloads|official download]] required)<br>''(Cannot invest in this store)''
|[[OB:Nightmask|Nightmask Potion]]
|{{Service Icon|Fence}} {{Service Icon|Trainer|Speechcraft|Advanced}}
|-
|[[OB:Khafiz|Khafiz]]
|Fence, Weapons, Armor, Lockpicks
|{{merc|48|n}}
|{{Wealth|1500}}
|[[OB:Dunbarrow Cove (place)|Dunbarrow Cove]]<br>(''[[OB:Thieves Den|Thieves Den]]'' [[OB:Downloads|official download]] required)
|none
|{{Service Icon|Fence}} {{Service Icon|Trainer|Mercantile|Advanced}}
|-
|[[OB:Kirsten|Kirsten]]
|Food
|{{merc|30|n}} (''leveled''*)
|{{Wealth|50}}
||[[OB:Bleaker's Way Goodwill Inn|Bleaker's Way Goodwill Inn]]
|none
|
|-
|[[OB:Kovan Kren|Kovan Kren]]
|Fence, Armor, Spells
|{{merc|5|n}}
|{{Wealth|100}}
|[[OB:Dunbarrow Cove (place)|Dunbarrow Cove]]<br>(''[[OB:Thieves Den|Thieves Den]]'' [[OB:Downloads|official download]] required)<br>''(Cannot invest in this store)''
|[[OB:Gauntlets of the Manhunter|Gauntlets of the Manhunter]], [[OB:Silenced Boots|Silenced Boots]], [[OB:Silenced Gauntlets|Silenced Gauntlets]]
|{{Service Icon|Spells}}{{Service Icon|Spells|Illusion}}{{Service Icon|Spells|Restoration}}
|-
|[[OB:Malene|Malene]]
|Food + Inn
|{{merc|50|n}}
|{{Wealth|50}}
||[[OB:Roxey Inn|Roxey Inn]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Manheim Maulhand|Manheim Maulhand]]
|Food + Inn
|{{merc|30|n}}
|{{Wealth|50}}
||[[OB:Inn of Ill Omen|Inn of Ill Omen]]
|none
|{{Service Icon|Fence}}{{Service Icon|Innkeeper}}
|- 
|[[OB:Melliwin|Melliwin]]
|Weapons
|{{merc|6|n}}
|{{Wealth|100}}
|[[OB:Dunbarrow Cove (place)|Dunbarrow Cove]]<br>(''[[OB:Thieves Den|Thieves Den]]'' [[OB:Downloads|official download]] required)<br>''(Cannot invest in this store)''
|none
|{{Service Icon|Spells}}{{Service Icon|Spells|Mysticism}}{{Service Icon|Spells|Restoration}}<br>{{Service Icon|Trainer|Marksman|Advanced}}
|-
|[[OB:Nerussa|Nerussa]]
|Food + Inn
|{{merc|30|n}} (''leveled''*)
|{{Wealth|50}}
|[[OB:Wawnet Inn|Wawnet Inn]], [[OB:Weye|Weye]]
|none
|{{Service Icon|Innkeeper}}
|-
|[[OB:Niels|Niels]]
|Smith
|{{merc|40|n}}
|{{Wealth|0}}
|[[OB:Battlehorn Castle (place)|Battlehorn Castle]]<br>(''[[OB:Fighter's Stronghold|Fighter's Stronghold]]'' [[OB:Downloads|official download]] required)
|Nothing (barter never possible)
|{{Service Icon|Repair}}
|-
|[[OB:Rowley Eardwulf|Rowley Eardwulf]]
|Weapons, Armor
|{{merc|44|n}}
|{{Wealth|2000}}
|[[OB:Wawnet Inn|Wawnet Inn]], [[OB:Weye|Weye]]<br>(''[[OB:Vile Lair|Vile Lair]]'' [[OB:Downloads|official download]] required)
|[[OB:Deepscorn Hollow (place)#Upgrades|Deepscorn Hollow upgrades]]
|{{Service Icon|Trainer|Sneak|Basic}} {{Service Icon|Upgrades}}
|- 
|[[OB:S'thasa|S'thasa]]
|Food + Inn
|{{merc|30|n}} (''leveled''*)
|{{Wealth|50}}
|[[OB:Border Watch|Border Watch]] Inn
|One high-quality blunt weapon (if your mercantile skill is at least 50)
|{{Service Icon|Innkeeper}}
|-
|[[OB:Sergius Turrianus|Sergius Turrianus]]
|Smith
|{{merc|20|n}}
|{{Wealth|500}}
|[[OB:Priory of the Nine (place)|Priory of the Nine]]<br>(''[[OB:Knights of the Nine|Knights of the Nine]]'' [[OB:Downloads|official download]] required)
|Nothing (barter never possible)
|{{Service Icon|Repair}}
|-
|[[OB:Tahm Blackwell|Tahm Blackwell]]
|Potions, Books
|{{merc|44|n}}
|{{Wealth|100}}
|[[OB:Dunbarrow Cove (place)|Dunbarrow Cove]]<br>(''[[OB:Thieves Den|Thieves Den]]'' [[OB:Downloads|official download]] required)<br>''(Cannot invest in this store)''
|[[OB:Potion of Magnification|Potions of Magnification]]
|{{Service Icon|Spells}}{{Service Icon|Spells|Alteration}}{{Service Icon|Spells|Restoration}}<br>{{Service Icon|Trainer|Security|Advanced}}
|-
|[[OB:Vlanhonder Moslin|Vlanhonder Moslin]]
|Inn
|{{merc|40|n}} (''leveled''<sup>‡</sup>)
|{{Wealth|50}}
|[[OB:Moslin's Inn|Moslin's Inn]], [[OB:Hackdirt|Hackdirt]]
|Nothing (barter never possible)
|{{Service Icon|Innkeeper}}
|}
<sup>‡</sup> For leveled merchants, the provided mercantile skill is their skill at level 1. Their skill will typically increase by 1 or 1.5 skill points per level. See each individual merchant's page for details.

====Shivering Isles====
For a list of Shivering Isles merchants, see the Shivering Isles [[Shivering:Merchants|Merchants]] page.
`

    let doc = wtf(text)

    let merchants: any[] = [];
    let merchantSkills: any[] = []
    doc._sections.forEach((element: { _title: string; _tables: { data: any[]; }[]; _templates: any[]; }) => {
        if (element._title !== 'Merchants' && element._title !== "Shivering Isles") {
            element._tables[0].data.forEach((merchant: { [x: string]: { text: () => any; }; }) => {
                merchants.push(merchant['Merchant Name'].text())
            })

            element._templates.forEach((skill: { data: { template: string; list: any[]; }; }) => {
                if (skill.data.template === 'merc') {
                    merchantSkills.push(Number(skill.data.list[0]))
                }
            })
        }

    })

    merchants.forEach((element, index) => {
        merchantList.value.push({
            merchantName: element,
            merchantSkill: merchantSkills[index]
        })
    })

    oblivionLoader.value = false;
}

function clearForm() {
    bestDisposition.value = 0;
    
    mercantileForm.value.reset();
}

onMounted(async () => {
    await initWiki();
})

</script>
<style>
@font-face {
    font-family: OBF;
    src: url(/oblivion-font.ttf);
}

.title-font {
    font-family: OBF;

}
</style>